*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}

.contner{
    width: 1140px;
    margin: 0 auto;
}

.nav_title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}


.nav_listil{
    display: flex;
    margin-top: 20px;

}

.linklar{
    display: flex;
    margin-left: 450px;
}

.link{
    margin: 10px;
    color: black;
    transition: 0.5s; 
}

.link:hover{
    color: crimson;
}

.linkk{
    margin-top: 5px;
    color: black;
    border: 1px solid #00BAFC;;
    padding: 6px;
    border-radius: 10px;
    transition: 0.5s;
}

.linkk:hover{
    background-color: #00BAFC;;
    color: white;
}



/*main*/

.contener{
    width: 1140px;
    margin: 0 auto;
}

.main_text{
    margin-top: 100px;
}

.hammasi{
    display: flex;
    
}

.text_biznes{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 130%;
}

.nullame{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.linkss{
    margin-top: 80px;
}

.linka{
    color: black;
    border: 1px solid #00BAFC;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.4s;
}

.linka:hover{
    background-color: #00BAFC;
    color: white;
}

.video{
    width: 460px;;
    height: 315px;
    margin-top: 100px;
}

/*section*/

.contener{
    width: 1140px;
    margin: 0 auto;
}

.section_text{
    margin-top: 100px;
}

.xizmatlar{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.nuller{
    position: static;
    width: 719px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:black;
    margin-left: 170px;
    margin-top: 10px;
}

